.profile__name-block {
  align-self: center;
}

@media screen and (max-width: 400px) {
  .profile__name-block {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
}