@import url(./__copyright/footer__copyright.css);

.footer {
  margin: 66px auto 0;
  padding-bottom: 60px;
  max-width: 882px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

}